name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: [ "lite" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: BitBetter
        run: |
          git clone --single-branch --branch lite https://github.com/jakeswenson/BitBetter.git
          cd BitBetter
          ./.keys/generate-keys.sh y
          ./build.sh y
           docker tag bitwarden-patch:latest ghcr.io/ccnano/bitwarden-patch:latest
           docker push ghcr.io/ccnano/bitwarden-patch:latest
